PORT=5000
CORS_ORIGIN=https://your-frontend-domain.vercel.app

# MQTT
MQTT_BROKER_URL=mqtt://broker.hivemq.com
MQTT_CONTROL_TOPIC=bbd-smarthome/control
MQTT_STATUS_TOPIC=bbd-smarthome/status

# Blockchain RPC and signer
BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/c93642d7e514494c8d8153522e77efef
CONTRACT_ADDRESS=0x32C55b3a27EC7ac037b6F9d540eBB06DBC0e51E9
PRIVATE_KEY=877e7498fc57c60483316d922470ec2b48e2dfa2ea8c2b0d4f6e50e8488b960f

# Optional mobile alerts via Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
